

@import "tailwindcss";


li{
list-style-type: none;
padding: 0 20px 0;
display: flex;
align-items: center;
}

#NavigationBar li:hover {

cursor: pointer;
display: flex;
  background-color: white; /* Tailwind bg-gray-800 */
color: #000;
border-radius: 0.5rem;
transition: background-color 0.3s;


}
#NavigationBar li:hover a {
  background-color: #1f2937; /* Tailwind bg-gray-800 */
  color: #fff; /* Tailwind text-white */
  padding-left: 0.75rem; /* Tailwind px-3 */
  padding-right: 0.75rem; /* Tailwind px-3 */
  padding-top: 0.5rem; /* Tailwind py-2 */
  padding-bottom: 0.5rem; /* Tailwind py-2 */
  border-radius: 0.5rem; /* Tailwind rounded */
  font-weight: bold; /* Tailwind font-bold */
}

#search:focus::placeholder{
  opacity: 40%;
  color: #0051ff;
}
#search::placeholder{
  border-color: #0051ff;
  transition: transform 0.3s, color 0.3s;
}